<a href="https://colab.research.google.com/github/creeeeping/Python/blob/main/chapter17.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def 양파():
    print("양파를 2개를 수확했습니다.")
def 대파():
    print("대파를 2개를 수확했습니다.")

#함수 호출하기
양파()
대파()

양파를 2개를 수확했습니다.
대파를 2개를 수확했습니다.

In [ ]:
def 수확():
    print("올해 비가 많이 왔습니다.")
    print("농작물 수확량이 현저히 줄었습니다.")

수확()

올해 비가 많이 왔습니다.
농작물 수확량이 현저히 줄었습니다.

In [ ]:
def function(x, y):
    z = x + y
    return z

#A등급 10마리, 8등급 9마리
print("옥수수와 수박의 수확량 :", function(10,2))

옥수수와 수박의 수확량 : 12

In [ ]:
def 수확():
    print("고라니 2마리를 잡았습니다.")
수확()

고라니 2마리를 잡았습니다.

In [ ]:
def function(x, y):
    z = x + y
    print(z)
#내용은 출력이되나 리턴에 없으면 반환값이 안나옴
#A등급 10마리, 8등급 9마리
print("옥수수와 수박의 수확량 :", function(10,2))

12
옥수수와 수박의 수확량 : None

In [ ]:
def 계산(가격, 개수):
    return 가격 * 개수
print(계산(1000, 5), "원입니다.")

5000 원입니다.

In [ ]:
def 계산(a, b, c):
    합계 = a*1000 + b*500 + c*100
    return 합계
print(계산(5, 2, 3), "원입니다.")

6300 원입니다.

In [ ]:
a = 100
def f():
    global a
    a = a + 1
    return a
f()

101

In [ ]:
won = [('A등급', 1000), ('B등급', 500), ('C등급', 100)]

def 계산(a, b, c):
    합계 = dict(won)['A등급']*a + dict(won)['B등급']*b + dict(won)['C등급']*c
    return 합계
print(계산(5, 2, 3), "원입니다.")

6300 원입니다.

In [ ]:
#상수
pi_value = 3.14
def circle(r, pi_value_input):
    z = r*r*pi_value_input
    return z
result = circle(10, pi_value)
print(result)

314.0

In [ ]:
A = 0
B = 0
C = 0
유물 = 0
def 감자():
    global A
    A += 1
def 양파():
    global A, B, C
    A+= 3
    B+= 3
    C+= 4
def 옥수수():
    global 유물
    유물+= 1

감자()
양파()
옥수수()


합계 = A + B + C + 유물
print("오늘 수확한 수확물 :", 합계)

오늘 수확한 수확물 : 12

In [ ]:
# 지역변수가 전역변수 공부해보기

def 함수이름1():  
    코드  
    def 함수이름2():  
        코드

In [ ]:
def print_taxt():
    taxt = "콩콩팥팥 수확의 기쁨"
    def txt():
        print(taxt)
    txt()
print_taxt()

콩콩팥팥 수확의 기쁨

In [ ]:
야채 = {'A등급': 0, 'B등급': 0, 'C등급': 0}

def 양파():
    야채['A등급'] += 1

def 대파():
    야채['A등급'] += 3
    야채['B등급'] += 3
    야채['C등급'] += 4

def 쪽파():
    야채['C등급'] += 1  # '금' 대신 기존 등급에 더함

def 수확철():
    양파()
    대파()
    쪽파()
    return 야채

결과 = 수확철()
print(결과)

{'A등급': 4, 'B등급': 3, 'C등급': 5}