<a href="https://colab.research.google.com/github/creeeeping/Python/blob/main/chapter10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###list

*list란? 원소들이 연속적으로 저장되는 형태의 자료형을 말합니다  
*시퀀스 자료형  
    *str() .list() .tuple .dict .set  
*만드는 방법은 쉽다. 대괄호로 묶어주고. 값들은 콤마로 구분한다.

In [ ]:
리스트 = []
print(리스트)

리스트 = [23 ,"이게 리스트다" ,3.23 ,True ,False]
print(리스트)

[]
[23, '이게 리스트다', 3.23, True, False]

In [ ]:
# 리스트 다시 한번 선언해 보자
#list = int() . float() 형변환도 가능
리스트 = ["이" , "렇" , "게" , "만" , "들" , "아" , "요"]
리스트
리스트2 = list()
리스트2

#range : 연속된 숫자를 생산하는 기능
range(10)

#list(range(시작, 끝))
리스트_매직_들어간다 = list(range(0,20))
리스트_매직_들어간다

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [ ]:
#list(range(시작, 끝 ,증가))
리스트_매직2 = list(range(0,20,2))
print(리스트_매직2)

리스트_매직3 = list(range(20,0,-1))
print(리스트_매직3)

리스트_매직4 = list(range(20,0))
print(리스트_매직4)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]
[20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[]

In [ ]:
# 끝나지 않는 리스트 매직
# 리스트를 이용해 변수에 값 넣기

a, b, c = ["들", "어", "가"]
print(a,b,c)

d, e, f = ["7" ,"7" ,"8"]
print(d,e,f)

지갑 = [10000 ,5000 ,1000]
만원 ,오천원 ,천원 = 지갑
print(f'{만원} 2장 , {오천원} 3장, {천원} 1장')

들 어 가
7 7 8
10000 2장 , 5000 3장, 1000 1장

In [ ]:
# 리스트 패킹, 리스트 언패킹
input() .split()

기억?. 나요?

['기억?.', '나요?']

In [3]:
# 슬라이싱

로또 = [3, 5, 15, 33, 41, 44]
#로또 변수에 있는 리스트의 인덱스 1번부터 2번까지의 값을 출력하시오 !

#로또 변수의 마지막 위치 출력을 하시오 !

#반대로 출력하시오 !

#로또 리스트안에 33이 있는지 확인해보세요  !

#로또 리스트를 로또2 리스트와 합쳐보세요  !
로또2 = [2, 22, 15, 24, 33, 39]

#range를 이용해서 1부터 10사이에 짝수만 들어있는 짝수(변수명) 리스트를 만들어주세요  !

#짝수 리스트에 들어있는 값을 2배로 늘리고 다시 짝수 변수에 담으시오  !

#짝수 리스트에 들어있는 요소의 개수를 구하시오  !

#짝수 리스트에 3번째의 인덱스를 출력해주세요

#len()함수를 이용해 인덱스 마지막 값을 출력해주세요  !

In [4]:
print(로또[1:3])

print(로또[-1])

print(로또[::-1])

print(33 in 로또)

print(로또 + 로또2)

짝수 = list(range(2,12,2))
print(짝수)

짝수 = 짝수 * 2
print(짝수)

print(len(짝수))

print(짝수[3])

print(짝수[len(짝수) - 1])

[5, 15]
44
[44, 41, 33, 15, 5, 3]
True
[3, 5, 15, 33, 41, 44, 2, 22, 15, 24, 33, 39]
[2, 4, 6, 8, 10]
[2, 4, 6, 8, 10, 2, 4, 6, 8, 10]
10
8
10

In [24]:
# list 값 넣고, 바꾸고, 지우고

sexyfood = ["육회", "물회", "떡볶이", "비빔밥", "오꼬노미야끼", "야미야미"]
# 값을 넣는 방법 2가지
# append() : 마지막에 요소 값을 넣는다.
# insert() : 원하는곳에 값을 넣는다.

sexyfood.append("마라탕")
print(sexyfood)

sexyfood.insert(0, "짜장면")
print(sexyfood)

# 값을 지우는법 : del

del sexyfood[-1]
print(sexyfood)

# 값을 바꾸는법

sexyfood[-2] = "냠냠"
print(sexyfood)

# 문자열 시퀀스 아니냐 그럼 저거다 될듯
#인사 = "반가워"
#인사[2] = "웡"

['육회', '물회', '떡볶이', '비빔밥', '오꼬노미야끼', '야미야미', '마라탕']
['짜장면', '육회', '물회', '떡볶이', '비빔밥', '오꼬노미야끼', '야미야미', '마라탕']
['짜장면', '육회', '물회', '떡볶이', '비빔밥', '오꼬노미야끼', '야미야미']
['짜장면', '육회', '물회', '떡볶이', '비빔밥', '냠냠', '야미야미']

TypeError: 'str' object does not support item assignment

In [25]:
print(dir(list))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [28]:
# 순서 뒤바꾸기

print(sexyfood)

sexyfood.reverse()
print(sexyfood)

# 오름차순으로 바꾸기

sexyfood.sort()
print(sexyfood)

['짜장면', '육회', '물회', '떡볶이', '비빔밥', '냠냠', '야미야미']
['야미야미', '냠냠', '비빔밥', '떡볶이', '물회', '육회', '짜장면']
['냠냠', '떡볶이', '물회', '비빔밥', '야미야미', '육회', '짜장면']

In [29]:
# 왜 print문을 쓰면 none이 나올까 생각해보기
# reverse 와 sort 는 리스트 순서를 바꾸는것이므로 리턴값이 없다.
print(sexyfood)
print(sexyfood.reverse())
print(sexyfood.sort())

['냠냠', '떡볶이', '물회', '비빔밥', '야미야미', '육회', '짜장면']
None
None

In [39]:
# 2차원 리스트에 대해서도 공부는 필수


양파같은 = [[ 2 , 0 ] , [ 3 , 1 ]]
양파같은

양파같은[0]
양파같은[1]
# 3을 출력해줘
양파같은[1][0]

양파같은.append([4.1])
양파같은

[[2, 0], [3, 1], [4.1]]